<!DOCTYPE HTML>


<html ng-app="taskModule" ng-controller="tasksCtrl" class="ng-scope">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./task_module.js"></script>

  <head>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="style.css">

  </head>

  <body>
   <div id="nav">
   </div>

   <div id="manage">
       <input type="text" ng-model="taskName.name">
   </div>
   <div id="column">
    <div ng-repeat="task in taskList">
      <div class="record">
        {{task.name}} : <span class="curr_time">{{task.timeString}}</span>
        <img class="reset" src="imgs/stop.jpg" ng-click="resetTimer(task)"> <!-- TODO: fix sequence! -->
        <img class="start" src="imgs/play.png" ng-click="startTimer(task)">
      </div>
    </div>
   </div>

  </body>
</html>
