html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  width: 1300px;
  float: center;
  background: #B6B6B6;
}

#nav {
  left: 300px;
  width: 1000px;
  height: 50px;
  position: relative;
  background: black;
}

#manage {
  top: 90px;
  left: 350px;
  width: 900px;
  height: 50px;
  position: absolute;
  background: white;
}

#manage input[type="text"]{
  height: 50px;
  width: 750px;
  position: absolute;
  padding-left: 20px;
}

.container li{
  float: left;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  padding-top: 15px;
  border-right: 2px solid grey;
}

#column {
  top: 200px;
  left: 350px;
  width: 900px;
  position: absolute;
}

.start {
  height: auto;
  width: 38px;
  position: absolute;
  right: 46px;
  top: 0px;
}

.reset {
  width: 33px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 2px;
}

.record {
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  float: left;
  background: white;
  height: 40px;
  position: relative;
  border-bottom: 2px solid;
}

.record .curr_time{
    position: absolute;
    right: 100px;
    font-size: 20px;
}

#manage input[type="button"] {
    position: absolute;
    left: 750px;
    width: 150px;
    height: 50px;
}
